.o-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 128px;
    height: 45px;
    text-transform: uppercase;
    background-color: #a3cf53;
    color: #fff;
    border-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.2em;
}