.o-title {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
    text-align: center;
    font-size: 35px;
    color: #838381;
    text-transform: uppercase;
    margin-bottom: 84px;

    &--accommodations::after {
        content: '';
        border: 3px solid #a8d05f;
        width: 15%;
        margin-top: 7px;
    }

    &--find::after {
        content: '';
        border: 3px solid #38c1c8;
        width: 8%;
        margin-top: 7px;
    }

    &--contact {
        color: #fff;
        text-align: center;
        font-size: 35px;
        padding-top: 90px;
        text-transform: uppercase;
    }
}