* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f7; }

.o-flex {
  display: -ms-flexbox;
  display: flex; }

.o-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
  width: 128px;
  height: 45px;
  text-transform: uppercase;
  background-color: #a3cf53;
  color: #fff;
  border-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.2em; }

.o-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 105px;
  text-align: center;
  font-size: 35px;
  color: #838381;
  text-transform: uppercase;
  margin-bottom: 84px; }

.o-title--accommodations::after {
    content: '';
    border: 3px solid #a8d05f;
    width: 15%;
    margin-top: 7px; }

.o-title--find::after {
    content: '';
    border: 3px solid #38c1c8;
    width: 8%;
    margin-top: 7px; }

.o-title--contact {
    color: #fff;
    text-align: center;
    font-size: 35px;
    padding-top: 90px;
    text-transform: uppercase; }

.c-hea {
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 20px 165px 25px 165px; }

.c-nav__list {
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style: none;
  width: 460px;
  -ms-flex-align: center;
      align-items: center; }

.c-nav__item {
  font-weight: bold;
  color: #656565;
  text-transform: uppercase;
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.c-nav__img {
  padding-left: 7px; }

.c-banner::before {
  content: '';
  display: block;
  width: 75%;
  height: 4px;
  background: #38c1c8;
  margin: -1px auto;
  padding-top: 2px; }

.c-banner__img {
  background: #3498db;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon();
          clip-path: polygon(); }

.c-banner__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.c-banner__title {
  position: absolute;
  margin-top: 159px;
  color: #fff;
  font-size: 52px;
  top: 122px;
  font-weight: 600;
  text-transform: uppercase;
  border: solid 5px;
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px; }

.c-banner__txt {
  width: 364px;
  height: 110px;
  position: absolute;
  margin-top: 155px;
  color: #fff;
  font-size: 11px;
  top: 248px;
  padding: 20px;
  font-size: 13px;
  text-align: center; }

.c-banner__container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }

.c-banner__container::after {
    content: '';
    position: absolute;
    top: 87%;
    left: 0;
    height: 100%;
    width: 103%;
    background: #f6f6f7;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }

.c-find__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #38c1c8;
  padding: 5px; }

.c-find__content {
  width: 100%;
  margin-top: 63px;
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center; }

.c-find__box:nth-child(2) {
  padding-right: 45px;
  padding-left: 45px; }

.c-find__presentation {
  margin-top: 18px;
  font-size: 22px;
  color: #656565;
  font-weight: bold;
  text-transform: uppercase; }

.c-find__txt {
  margin-top: 18px;
  width: 214px;
  font-size: 15px;
  color: #7d7d7c;
  text-align: center; }

.c-accommodations {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.c-accommodations__content {
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%; }

.c-accommodations__box:nth-child(1) {
    padding-right: 30px; }

.c-accommodations__presentation {
    font-size: 18px;
    font-weight: bold;
    color: #656565;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px; }

.c-accommodations__txt {
    width: 459px;
    font-size: 15px;
    color: #656565;
    margin-bottom: 35px; }

.c-accommodations__btn {
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 45px;
    text-transform: uppercase;
    background-color: #a3cf53;
    color: #fff;
    border-style: none; }

.c-accommodations__link {
    text-decoration: none; }

.c-contact {
  margin-top: 37px;
  background-color: #32b3b9;
  padding-bottom: 75px; }

.c-contact__subtitle {
    color: #fff;
    text-align: center;
    font-size: 12px; }

.c-contact__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin-top: 25px; }

.c-form__content {
  border: 2px solid #fff;
  width: 554px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 20px; }

.c-form__content--msg {
    border: 2px solid #fff;
    width: 554px;
    height: 220px;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding-top: 17px;
    margin-bottom: 20px; }

.c-form__lbl {
  color: #fff;
  padding-left: 20px; }

.c-form__input {
  background-color: #32b3b9;
  border-style: none;
  height: 100%;
  width: 100%;
  border-color: #32b3b9;
  color: #34425f;
  padding-left: 5px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; }

.c-form__input--msg {
    background-color: #32b3b9;
    border-style: none;
    height: 100%;
    width: 100%;
    border-color: #32b3b9;
    color: #34425f;
    padding-left: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; }

.c-form__input:focus {
    outline: 0; }

.c-form__textarea {
  background-color: #32b3b9;
  border-style: none;
  height: 100%;
  width: 100%;
  border-color: #32b3b9;
  color: #34425f;
  padding-left: 5px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; }

.c-form__textarea:focus {
    outline: 0; }

.c-form__btn {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 45px;
  text-transform: uppercase;
  background-color: #a3cf53;
  color: #fff;
  border-style: none;
  letter-spacing: 0.2em;
  font-size: 11px; }

.c-form__link {
  text-decoration: none; }

.c-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  color: #767675;
  -ms-flex-align: center;
      align-items: center;
  height: 70px;
  padding-right: 197px;
  padding-left: 170px;
  background-color: #e7e7e0; }

.c-footer__social {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 367px; }

.c-footer__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }

.c-footer__list span {
      padding-left: 15px; }

.c-footer__signature {
    font-size: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }

.c-footer__signature span {
      padding-right: 15px; }

.c-footer__link {
    text-decoration: none;
    color: #767675; }

/*# sourceMappingURL=style.css.map */
