.c-accommodations {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__content {
        justify-content: center;
        width: 100%;
    }

    &__box:nth-child(1) {
        padding-right: 30px;
    }

    &__presentation {
        font-size: 18px;
        font-weight: bold;
        color: #656565;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 16px;
    }

    &__txt {
        width: 459px;
        font-size: 15px;
        color: #656565;
        margin-bottom: 35px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        width: 128px;
        height: 45px;
        text-transform: uppercase;
        background-color: #a3cf53;
        color: #fff;
        border-style: none;
    }

    &__link {
        text-decoration: none;
    }
}