.c-banner {

    &::before {
        content: '';
        display: block;
        width: 75%;
        height: 4px;
        background: #38c1c8;
        margin: -1px auto;
        padding-top: 2px;
    }

    &__img {
        background: #3498db;
        width: 100%;;
        height: 100%;
        clip-path: polygon();
    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__title {
        position: absolute;
        margin-top: 159px;
        color: #fff;
        font-size: 52px;
        top: 122px;
        font-weight: 600;
        text-transform: uppercase;
        border: solid 5px;
        padding: 20px;
        padding-left: 70px;
        padding-right: 70px;
    }

    &__txt {
        width: 364px;
        height: 110px;
        position: absolute;
        margin-top: 155px;
        color: #fff;
        font-size: 11px;
        top: 248px;
        padding: 20px;
        font-size: 13px;
        text-align: center;
    }

    &__container {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 87%;
            left: 0;
            height: 100%;
            width: 103%;
            background: #f6f6f7;
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
    }
}