.c-contact {
    margin-top: 37px;
    background-color: #32b3b9;
    padding-bottom: 75px;

    &__subtitle {
        color: #fff;
        text-align: center;
        font-size: 12px;

    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

}

.c-form {

    &__content {
        border: 2px solid #fff;
        width: 554px;
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 20px;

        &--msg {
            border: 2px solid #fff;
            width: 554px;
            height: 220px;
            display: flex;
            margin-top: 20px;
            padding-top: 17px;
            margin-bottom: 20px;

        }
    }

    &__lbl {
        color: #fff;
        padding-left: 20px;
    }

    &__input {
        background-color: #32b3b9;
        border-style: none;
        height: 100%;
        width: 100%;
        border-color: #32b3b9;
        color: #34425f;
        padding-left: 5px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;

        &--msg {
            background-color: #32b3b9;
            border-style: none;
            height: 100%;
            width: 100%;
            border-color: #32b3b9;
            color: #34425f;
            padding-left: 5px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }

        &:focus {
            outline: 0;
        }
    }


    &__textarea {
        background-color: #32b3b9;
        border-style: none;
        height: 100%;
        width: 100%;
        border-color: #32b3b9;
        color: #34425f;
        padding-left: 5px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        
        &:focus {
            outline: 0;
        }
    }


    &__btn {
        display: block;
        margin: 0 auto;
        width: 128px;
        height: 45px;
        text-transform: uppercase;
        background-color: #a3cf53;
        color: #fff;
        border-style: none;
        letter-spacing: 0.2em;
        font-size: 11px;
    }

    &__link {
        text-decoration: none;
    }
}