.c-find {

    &__img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 6px solid #38c1c8;
        padding: 5px;
    }

    &__content {
        width: 100%;
        margin-top: 63px;
        text-align: center;
        justify-content: center;
    }

    &__box:nth-child(2) {
        padding-right: 45px;
        padding-left: 45px;
    }

    &__presentation {
        margin-top: 18px;
        font-size: 22px;
        color: #656565;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__txt {
        margin-top: 18px;
        width: 214px;
        font-size: 15px;
        color: #7d7d7c;
        text-align: center;
    }
}