.c-footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: #767675;
    align-items: center;
    height: 70px;
    padding-right: 197px;
    padding-left: 170px;
    background-color: #e7e7e0;


    &__social {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 367px;
    }

    &__list {
        display: flex;
        align-items: center;

        & span {
            padding-left: 15px;
        }
    }

    &__signature {
        font-size: 12px;
        display: flex;
        align-items: center;

        & span {
            padding-right: 15px;
        }
        
    }

    &__link {
        text-decoration: none;
        color: #767675;
    }
}