.c-nav {

    &__list {
        justify-content: space-between;
        list-style: none;
        width: 460px;
        align-items: center;
    }

    &__item {
        font-weight: bold;
        color: #656565;
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    &__img {
        padding-left: 7px;
    }
}